/* COMMON PAGE STYLE */

.aboutbox {
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}

.aboutbox .aboutbox-header {
    font-family: 'fira_sansbook';
    font-size: 27px;
    font-weight: normal;
    color: #3ba8c0;
    border-bottom: 2px #3ba8c0 solid;
    margin:  0 0 23px 0;
    padding:  13px 23px;
    display: inline-block;
}

.aboutbox-body {
    padding-bottom: 40px;
}

/* COMMON PAGE STYLE END */


/* FACE */
.image-wrap {
    float: left;
    margin-left: 55px;
    margin-top:  18px;
}
.avatar-box {
    width:  142px;
    height:  142px;
    border-radius: 50% 50%;
    overflow:  hidden;
    border:  5px solid #3ba8c0;
}
.avatar {
    width: 100%;
}
/* FACE END */

/* LIST DATA */
.aboutbox .worksheet-wrap {
    float: right;
    width: 400px;
}

.worksheet-list {
    list-style: none;
    padding:  0;
    margin: 0;
}

.worksheet-info {
    float: left;
    margin-left: 25px;
    max-width:  260px;
}

.worksheet-item {
    margin-bottom: 8px;
}

.worksheet-what {
    font-family: 'fira_sansmedium';
    font-size: 16px;
    float: left;
}

.worksheet-info {
    font-family: 'fira_sansmedium';
    font-size: 15px;
    overflow:  hidden;
    max-width:  218px;
}
/* LIST DATA END*/

.aboutbox .aboutbox-item {
    padding: 0 0 0 76px;
    margin-bottom: 20px;
}

.aboutbox .aboutbox-list {
    list-style: none;
}

.aboutbox .aboutbox-item:last-child {
    margin-bottom: 0;
}

.aboutbox-item .where {
    font-family: 'fira_sansbook';
    font-size: 16px;
}

.aboutbox-item .period {
    font-family: 'fira_sanslight';
    font-size: 15px;
    line-height: 1;
}

.aboutbox-item.icon-work {
    background: url(../img/portfel.png) 9px center no-repeat;
}

.aboutbox-item.icon-college {
    background: url(../img/college.png) 9px center no-repeat;
}

.aboutbox-item.icon-course {
    background: url(../img/course.png) 17px center no-repeat;
}

.worksheet-info .skills-list {
    width: 224px;
    padding:  0;
    list-style:  none;
}

.skills-list .skill-item {
    display:  inline-block;
    font-family: 'ProximaSemibold';
    background: rgba(59,168,192,1);
    background: -moz-linear-gradient(top, rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,141,162,1) 51%, rgba(46,141,162,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(59,168,192,1)), color-stop(50%, rgba(59,168,192,1)), color-stop(51%, rgba(46,141,162,1)), color-stop(100%, rgba(46,141,162,1)));
    background: -webkit-linear-gradient(top, rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,141,162,1) 51%, rgba(46,141,162,1) 100%);
    background: -o-linear-gradient(top, rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,141,162,1) 51%, rgba(46,141,162,1) 100%);
    background: -ms-linear-gradient(top, rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,141,162,1) 51%, rgba(46,141,162,1) 100%);
    background: linear-gradient(to bottom, rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,141,162,1) 51%, rgba(46,141,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8da2', GradientType=0 );
    border-radius: 4px;
    padding:  0 7px;
    margin-right: 6px;
    color:  white;
    line-height: 1.2;
    min-width: 40px;
    text-align: center;
    cursor: pointer;
}