html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
    height: 100%;
    background:  url(../img/background.png) repeat;
    font:  normal 1em 'fira_sanslight';
    color:  #4a545d;
}

.wrapper {
    position: relative;
    min-height: 100%;
    min-width: 970px;
    height: auto!important;
}

.wrapper:after {
    content: " ";
    height:  80px;
    display: block;
}

/* HEADER */
.container-big {
    max-width: 1200px;
    min-width: 960px;
    height: 100%;
    margin: 0 auto;
    position:  relative;
}

.page-header {
    height: 119px;
    background: #eff3f7 url('../img/line.png') bottom center no-repeat;
    position: relative;
    margin-bottom:  39px;
}

.page-header .header-logo-link {
    position:  absolute;
    top: 15px;
    left:  0;
    cursor:  pointer;
    transition: all .2s ease-in-out;
}

.header-logo-link:hover {
    transform: scale(1.1);
}

.header-title {
    height: 119px;
    line-height: 119px;
    padding-left: 120px;
    font-family: 'ProximaSemibold';
    text-transform: uppercase;
    margin: 0;
}

.page-header .socials {
    position:  absolute;
    right: 0;
    top:  36px;
}

/* SOCIALS ICONS */
.socials {
    margin: 0;
    padding: 0;
    min-width: 260px;
}

.socials .socials-item {
    list-style:  none;
    display: inline-block;
    height: 47px;
    width: 47px;
    margin-left:  19px;
}

.socials .socials-item:first-child {
    margin-left: 0;
}

.socials .socials-link {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    background: url(../img/socials_sprite.png) no-repeat;
}

/* SOCIAL ICONS SPRITE */ 
.socials .socials-link.fk { background-position: -0px -0px;  }
.socials .socials-link.gb { background-position: -0px -47px; }
.socials .socials-link.tw { background-position: -0px -94px;  }
.socials .socials-link.vk { background-position: -0px -141px;  }
.socials .socials-link:hover { background-position-x: -47px; }

/* SIDEBAR */
.sidebar {
    width: 250px;
    float: left;
}

/* NAVIGATION */
.navigation {
    overflow: hidden;
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}

.navigation .navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation .navigation-item {
    border-top: 2px solid #3ba8c0;
    margin: 0 11px;
}

.navigation .navigation-item:first-child {
    border-top: none;
}

.navigation .navigation-item.current {
    background: #3ba8c0;
    margin: 0;
    border-bottom:  none;
    padding-left: 11px;
    margin-bottom: -2px;
}

.navigation .navigation-link {
    font-family: 'fira_sansbook';
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #959aa8;
    margin-left:  16px;
    padding: 20px 0px;
}

.navigation .navigation-link:hover {
    color: #3ba8c0;
}

.navigation .navigation-item.current .navigation-link {
    color:  #f9fafb;
    font-size: 22px;
}
/* NAVIGATION END */

/* CONTACTS */
.contacts {
    overflow: hidden;
    background: #41b9d4;
    border-radius: 4px;
    margin-bottom: 26px;
    font-style: normal;
}

.contacts .contacts-header {
    font-family: 'fira_sansbook';
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    background: #3ba8c0;
    color: white;    
    padding: 10px 20px;
    margin: 0px;
}

.contacts .contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contacts .contacts-link {
    display: inline-block;
    font-family: 'fira_sansbook';
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px 5px 10px 40px;
    cursor: pointer;
}

.contacts-item.contactsmessage {
    background: #41b9d4;
}

.contacts-item.contactsphone {
    background: #48cbe8;
}

.contacts-item.contactsskype {
    background: #51daf8;
}

.contacts .contacts-link:hover {
    text-decoration: underline;
}

.contacts-link span {
    margin-left: 10px;
}

.contacts-link i {
    font-size: 1.2rem;
}

/* CONTACTS END */

/* CONTENT */
.content {
    width: 650px;
    float: right;
}
/* END CONTENT */


/* FOOTER */
.page-footer {
    height: 80px;
    min-width: 970px;
    margin-top:  -80px;
    background: #eff3f7 url(../img/line.png) top center no-repeat;
    font-family: 'fira_sanslight';
    color:  #4a545d;
}

.page-footer .container {
    padding-top: 28px;
    position:  relative;
}

.page-footer .copyright {
    margin:  0 180px;
    padding-top: 7px;
    text-align:  center;
    font-size:  13px;
}
/* END FOOTER */

/* LOGIN */
.page-footer .lock {
    position: absolute;
    top: 26px;
    left:  20px;
}

.lock .lock-inner {
    display:  block;
    height: 40px;
    font-family: 'fira_sanslight';
    font-size:  16px;
    line-height: 2.2;
    color:  #4a545d;
    text-decoration: none;
    background: url(../img/lock-close.png) no-repeat;
    padding-left:  24px;
}
.lock .lock-inner:hover {
    text-decoration: underline;
    background: url(../img/lock-open.png) no-repeat;
}
/* END LOGIN */


/* COMMON CLASSES */
.container {
    width: 960px;
    margin: 0 auto;
}

.text-center {
    text-align:  center;
}

.pull-left {
    float:  left;
}

.pull-right {
    float:  right;
}

.row {
    width: 100%;
    content:  " ";
    display: table;
    clear:  both;
}

/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
    content:  " ";
    display: table;
}
.container:after, .clearfix:after {
    clear:  both;
}
/* END COMMON CLASSES */