/* COMMON PAGE STYLE */

.myworkbox {
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}

.myworkbox .myworkbox-header {
    font-family: 'fira_sansbook';
    font-size: 27px;
    font-weight: normal;
    color: #3ba8c0;
    border-bottom: 2px #3ba8c0 solid;
    margin:  0 0 23px 0;
    padding:  13px 23px;
    display: inline-block;
}

.myworkbox-body {
    width: 650px;
    padding: 0 20px;
}

.myworkbox-item {
    width: 185px;
    min-height: 210px;
    max-height: 210px;
    overflow: hidden;
    margin-bottom: 22px;
    text-align: center;
    border-radius: 4px;
    display:  inline-block;
    margin-right: 22px;
    vertical-align: top;
}

.myworkbox-item:nth-child(3n+3) {
    margin-right: 0;
}

.workimage-wrapper {
    position: relative;
    max-height: 130px;
    min-height: 130px;
    overflow:  hidden;
    border:  2px solid #73c0d1;
    border-radius: 4px;
    background: #edf8fc;
    margin-bottom: 5px;
}

.myworkbox-item.add-newwork .workimage-wrapper{
    border: 2px dashed #73c0d1;
    font-family: 'fira_sanslight';
    font-size: 12px;
    color: #73c0d1;
    padding-top: 20%;
}

.add-new-item {    
    text-decoration: none;
    color: #73c0d1;
    font-size: 1.8rem;
}

.add-new-item span {
    display: block;
    font-family: 'fira_sansbook';
    font-size: 14px;
    margin-top: 5px;
}

/* COMMON PAGE STYLE END */

.workimage-wrapper,
.overlay {
    text-align: center;
}

.work-image {
    width: 100%;
}

.work-image,
.overlay {
  transition: .3s all;
}

.work-image-link {
    display: inline-block;
    padding: 0 2px;
    font-family: 'fira_sansbook';
    font-size: 12px;
    color: white;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 4px;
}

.workimage-wrapper .overlay:hover {
   /*  cursor: pointer;
   opacity: 0.6; */
}

.mywork-link {
    text-decoration: none;
    color: #3ba8c0;
    font-family: 'fira_sanslight_italic';
    font-size: 12px;
}

.mywork-link:hover {
    text-decoration: underline;
}

.mywork-description {
    height: 48px;
    width: 100%;
}

.mywork-description {
    font-family: 'fira_sanslight';
    font-size: 14px;
    color: #4a545d;
    padding: 2px;
}

/* MODAL WINDOW */

#new-progect-popup {
    display: none;
}

.modal-wrapper {
    width: 360px;
    background: #eff3f7;
    border-radius: 4px 4px 0 0;
}

.modal-wrapper .modal-header {
    position: relative;
    background: #48cbe8;
    border-bottom: 7px solid #67dffa;
    height: 40px;
    border-radius: 4px 4px 0 0;
    padding-left: 10px;
    margin-bottom: 5px;
}

.modal-header .modal-title {
    line-height: 40px;
    font-family: 'fira_sansregular';
    font-size: 20px;
    color: #fff;
}

.modal-header .b-close {
    position: absolute;
    top: 0%;
    right: 2%;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.modal-body {
    padding: 0 20px 20px 20px;
}

.fileupload-lable {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-size: 16px;
    border: 1px solid #48cbe8;
    border-radius: 4px;
    color: #48cbe8;
}

.fileupload-lable .button-fileupload, .fileupload-lable > .input-filename{
    display: block;
    cursor: pointer;
}

.fileupload-lable .button-fileupload {
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 20%;
    height: 100%;
    font-size: 2rem;
    background: #48cbe8;
    color: #fff;
    text-align: center;
    line-height: 40px;
    transition: all .2s ease;
}

.fileupload-lable:hover .button-fileupload {
    background: #40b7d1;
}

.fileupload-lable .button-fileupload:hover {
    background: #40b7d1;
}

.fileupload-lable input[type=file]{
    width: 80%;
    height: 40px;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.fileupload-lable .input-filename {
    width: 80%;
    height: 40px;  
}

.form-group.projectDescription textarea {
    height: 110px;    
}

@media only screen and ( max-width: 500px ){
    .fileupload-lable > .input-filename{
        display: none
    }
    .fileupload-lable .button{
        width: 100%
    }
}

